html
    head
        title Awesome Calculator
        link(
            rel="stylesheet" 
            href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css"
            )
        link(
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            )
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1"
            )
    body
        div(id="calculator-on-steroids")
        
        script(src="/build/bundle.js")
